.container-own {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-area-container {
    display:flex;
    height:100%;
}

.main-area-1,
.main-area-2 {
    width:50%;
}