:host {
    height:100%;
}

.container-own {
    text-align: center;
    height:100%;
}

table {
    width:70%;
}

.table-head-row {
    background-color: rgb(58, 176, 255);
    color:white;
    
}

.table-head-data {
    padding-top: 7px;
    padding-bottom:7px;
    width:250px;
    font-size:17px;
}

.table-row {
    transition: .2s all;
}

.table-row:hover {
    background-color: rgb(236, 236, 236);
    transition: .2s all;
}

.table-data {
    padding-top: 7px;
    padding-bottom:7px;
    font-size: 14px;
    cursor: pointer;
}